.navbar {
  background: linear-gradient(90deg, rgb(1, 0, 36) 0%, rgb(0, 0, 0) 100%);
  height: 80px;
  display: flex;
  align-items: center;
  /* position: fixed !important; */
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.2s;
  font-family: "Montserrat-Regular";
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 80px;
  max-width: 1500px;
  
}

.navbar-title{
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;

}

.menu-icon {
  margin-left: 200px ;
  color: #fff;
  font-size: 1.2em;
  display: none;
}

.nav-menu {
  color: #242424;
  display: flex;
  width: max-content;
  float: right;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.nav-menu ul {
  padding-left: 0;
}

.nav-menu-icon-sec {
  display: flex;
  justify-content: center;
}

.menu-button-section {
  margin-left: 0px;
  display: flex;
}

.menu-item {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2em;
}

.nav-menu-link {
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.nav-menu-link:hover {
  padding-bottom: 5px;
  text-decoration: none;
  color: rgb(212, 212, 212);
  border-bottom: solid 2px rgb(212, 212, 212);
}

.nav-menu-links.active {
  color: #fff;
  border-bottom: solid 2px rgb(255, 255, 255);
}

.nav-menu-link.notification-badge {
  display: flex;
}

@media only screen and (max-width: 1300px) {
  .navbar-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media only screen and (max-width: 1400px) {
  .navbar-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu-icon {
    display: block;
  }

  .nav-menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: -100vw;
    width: 100vw;
    height: calc(100vh - 80px);
    top: 80px;
    background-color: rgb(1, 0, 36);
  }

  .menu-button-section {
    margin-left: 0px;
    display: block;
    padding: 30px;
    padding-left: 25px !important;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .nav-menu.active {
    left: 0;
  }

  .menu-item {
    display: block;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(179, 179, 179);
  }
}


.btn{
  display: block;
    text-align: center;
    border-radius: 4px;
    font-family: "Montserrat-Regular";
    text-decoration: none;
    font-size: 1.2rem;
    background-color: transparent;
    color: #fff;
    padding: 5px 5px;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s ease-out;
}
.btn:hover {
  background: #fff;
    color: #242424;
    transition: 250ms;
}



