.sales-container{
    margin-top: 100px !important;
}


.form-select{
    width: 300px;
}

.products-container{
    padding : o;

}

.proceed-success-dis{
    outline: none;
    border: 1px solid #fff;
    font-size: 1.1em;
    transition: 0.3s; 
    font-weight: 600;
    color: #fff;
    background-color: rgb(68, 68, 68);
    }