.home-section {
  padding-top: 80px;
}

.home-container {

  height: 100vh;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  font-family: "Montserrat-light";
  }

h2{
  margin-top: 30px;
}

.home-description{
  margin-left: 60px;
  text-align: center;
}

.form-container{
  align-items: center;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  
}

.form-label{
  text-align: right;
  width : 200px;
  margin-right: 20px;
}
.product-display {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;

}
  

.footer-container{
  background: linear-gradient(60deg, rgb(0, 0, 0) 0%, rgb(1, 0, 36) 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  left: 0;
  bottom: 0;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
  color: #fff;
}

.footer-subscription > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.footer-subscription-heading {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  text-decoration: none;
}

.footer-qoute{
  color: #fff;
  font-size: 1rem;
}

.row{
  margin-bottom: 40px;
  align-items: center;
}

.card{
margin : 20px;
max-width: 300px;
max-height: 400px;
}


.img{
  max-width: 50%;
  max-height: 50%;
}

.buy-button {
  background-color:rgb(2, 104, 7) ;
  color: #fff;
  outline: none;
  font-size: 1em;
  transition: 0.3s; 
  font-weight: 600;
  width: 50%;
padding-top: 5px;
padding-bottom: 5px;
margin: 10px;
border-radius: 3px;
text-decoration: none;
}

.buy-button:hover {
  background-color: rgba(0, 0, 0, 0.333);
  color: rgb(48, 48, 48);
  border: 1px solid #fff;
}