.row{
    margin-bottom: 40px;
    align-items: center;
}

.card{
  margin : 20px;
  max-width: 300px;
  max-height: 400px;
}


.img{
    max-width: 50%;
    max-height: 50%;
}

.buy-button {
    background-color:rgb(2, 104, 7) ;
    color: #fff;
    outline: none;
    font-size: 1em;
    transition: 0.3s; 
    font-weight: 600;
    width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  border-radius: 3px;
  text-decoration: none;
  }
  
  .buy-button:hover {
    background-color: rgba(0, 0, 0, 0.333);
    color: rgb(48, 48, 48);
    border: 1px solid #fff;
  }