.row{
    margin-bottom: 40px;
    align-items: center;
}

.img{
    
    width: 50%;
}

.buy-btn {
    background-color:rgb(2, 104, 7) ;
    color: #fff;
    outline: none;
    border: 1px solid rgb(1, 8, 32);
    font-size: 1em;
    transition: 0.3s; 
    font-weight: 600;
    width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  }
  
  .buy-btn:hover {
    background-color: rgba(0, 0, 0, 0.333);
    color: rgb(48, 48, 48);
    border: 1px solid #fff;
  }